body {
  background-color: #f1f5f8;
  font-family: "Times New Roman", Times, serif;
}
/* header styles */
nav{
  background-color: #183b4f;
}
span.head {
  font-family: "Times New Roman", Times, serif;
  color: #f1f5f8;
  font-size: 25px;
  border-right: 2px solid #f1f5f8;
  padding-right: 15px;
}
.sub-head {
  color: #f1f5f8;
  font-size: 16px;
  font-style: italic;
  padding-left: 20px;
}

/* content styles*/
#contentWrapper {
  font-family: Arial , Sans-serif;
  margin-top: 80px;
}
.panel {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.panel-heading {
  font-size: 18px;
  font-weight: 600;
}
.panel-body {
  min-height: 100px;
  padding-top: 30px;
}
#createDiv .panel-heading{
  background-color: #0f9ff1;
}
#taskStepsDiv .panel-heading{
  background-color: #e9d424;
}
/*input style */
.form-input {
  border-radius: 0;
}
.form-input:focus{
  border: 1px solid #555;
  box-shadow: 0 1px 2px #555;
}

/* button style */
button {
  font-family: lato, sans-serif;
  color: #f1f5f8;
  background-color: #183b4f;
  min-width: 130px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
button.btn {
  font-weight: bold;
}
button.btn:hover, button.btn:active:hover, button.btn:focus  {
  outline: 0 !important;
  color: #f1f5f8 !important;
}
span.button-icon {
  padding-right: 10px;
}
#taskStepsDiv {
  margin-top: 30px;
}
.task-steps-col {
  border: 1px solid #CBCBCB;
  min-height: 100px;
}
.empty-feedback{
  text-align: center;
  margin-top: 20px;
  color: #A2A2A2;
  font-size: 14px;
}
.steps-heading {
  text-align: center;
  border-bottom: 2px solid #183b4f;
}
.card-wrapper{
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card-head {
  font-weight: 600;
}
.card-wrapper button {
  float: right;
}
.new-task-card {
  background-color: #fbfbfb;
}
.dev-task-card {
  background-color: #eaf8ff;
}
.test-task-card {
  background-color: #fbf8dc;
}
.completed-task-card {
  background-color: #dcfbf2
}
.back-link {
  clear: both;
  display: block;
  float: right;
  margin-top: 15px;
}
a {
  cursor: pointer;
}
p.card-asignee {
  display: inline-block;
  margin-left: 10px;
}
/*add counters*/
#step1 {
  counter-reset: newtask;
}
#step2 {
  counter-reset: devtask;
}
#step3 {
  counter-reset: testtask;
}
#step4 {
  counter-reset: completedtask;
}
.new-task-card p.card-head::before {
  counter-increment: newtask;
  content: counter(newtask) ". ";
}
.dev-task-card p.card-head::before {
  counter-increment: devtask;
  content: counter(devtask) ". ";
}
.test-task-card p.card-head::before {
  counter-increment: testtask;
  content: counter(testtask) ". ";
}
.completed-task-card p.card-head::before {
  counter-increment: completedtask;
  content: counter(completedtask) ". ";
}
/* error modal*/
#feedbackMdl {
  margin-top: 50px;
}
